

h1 {
  color: white;
  text-align: center;
  font-family: helvetica;
  font-size: 30px;
}
p {
  font-family: helvetica;
  font-size: 30px;
  color:  white;
}
html { 
    background: url(background.png) no-repeat center center fixed; 
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

a.imageLink{
    text-decoration:none;
}